@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin:0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    /* overscroll-behavior: none; */
    /* align-items: flex-start; */
    /* background-color: black; */
    /* color: white; */
}

/* welcome page */

.welcomeInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    margin: 2rem;
}

.welcomeHead {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    /* justify-content: center; */
}

#welcomePara {
    margin: 1rem 0 0 0;
}

.welcomeBtns {
    display: flex;
    flex-direction: column;
}

.getStartedBtn,
.loginBtn {
    text-decoration: none;
    margin-bottom: 1rem;
}

/* user Info page */

.userInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 2rem;
}

.head,
.name,
.userGoal,
.userSex,
.userDOB,
.userMetrics,
.userJob,
.userExercise,
.userGoalRange,
.userDiet {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    align-items: flex-start;
}

.userGoalRange {
    width: 100%;
}

h3 {
    color: rgb(9, 149, 200);
    font-weight: 600;
    margin-bottom: 0.2rem;
}

.userName,
.userEmail,
.userPassword {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.4rem;
}

input[type=text],
input[type=email],
input[type=password] {
    width: 15rem;
    height: 1.5rem;
    border: 0.1rem solid black;
    border-radius: 0.3rem;
    margin: 0.2rem 0 0 0
}


/* #goalRange {
} */

#submitBtn {
    margin: 1rem;
}

/* .weightLoss,
.weightManage,
.weightGain {
    display: flex;
    align-items: center;
    justify-content: space-between;
} */

/* display Input Page */

.yourGoalDP,
.yourMetricsDP,
.yourLifestyleDP {
    margin: 1rem 2rem;
    width: 90%;
}

.goalDP,
.goalRateDP,
.goalWeightDP,
.dietTypeDP,
.currentWeightDP,
.heightDP,
.waistDP,
.jobDP,
.activityDP {
    display: flex;
    justify-content: space-between;
    width: 90%;
    border: 0.1rem solid darkgray;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}

#goalD,
#goalRateD,
#goalWeightD,
#dietTypeD,
#currentWeightD,
#heightD,
#waistD,
#jobD,
#activityD {
    font-weight: 600;
}



.goalRateDP,
.goalWeightDP,
.heightDP {
    border-radius: 0;
}

.goalDP,
.currentWeightDP,
.jobDP {
    border-radius: 1rem 1rem 0 0;
}

.dietTypeDP,
.waistDP,
.activityDP {
    border-radius: 0 0 1rem 1rem;
}
#heyUser {
    margin: 2rem 2rem -1rem 2rem;
    font-weight: 700;
}

.h2DP {
    margin: 1rem 2rem 1rem 2rem;
}

.h3DP {
    margin-bottom: 0.5rem;
}

#createGoalBtn,
.goBackBtn {
    margin: 2rem 2rem 1rem 2rem;
}

.goBackBtn {
    color: darkgray;
    margin: 0rem 2rem 2rem 2rem;
}

.submitBtn {
    display: flex;
    flex-direction: column;
}

/* display Goal Page */

#goalImageGP {
    width: 40%;
    margin-bottom: 1rem;
}

.goalCreatedPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 90vh;
    margin: 2rem;
}

.goalCreatedGP {
    margin: 2rem 0;
    display: flex;
    width: 100%;
}

.calGP,
.proteinGP,
.carbsGP,
.fatGP {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 0.1rem solid darkgray;
    padding: 0.5rem 0.7rem;
    border-radius: 1rem;
    width: 25%;
}

#calG,
#proteinG,
#carbsG,
#fatG {
    font-weight: 700;
}

.calGP {
    border-radius: 1rem 0 0 1rem;
}

.proteinGP,
.carbsGP {
    border-radius: 0;
}

.fatGP {
    border-radius: 0 1rem 1rem 0;
}

.calG,
.proteinG,
.carbsG,
.fatG {
    font-size: 2rem;
}

.small {
    font-size: 0.6rem;
    font-weight: 600;
}

 /* bottom buttons */

.dashBoardPage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.topHead {
    position: sticky;
    position: -webkit-sticky;
    background-color: white;
    /* border-bottom: 0.1rem solid lightgray; */
    top: 0;
}

.topHeadText {
    padding : 1rem;
    font-size: 1rem;
}

.macrosHeadlineDBP {
    margin: 1rem;
}

.macrosDBP {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
    width: calc(100% - 1rem);
    /* background-color: rgba(211, 211, 211, 0.334); */
    /* border: 0.1rem solid lightgrey; */
}

.calDB {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* position: relative; */
    border: 0.3rem solid black;
    padding: 2.4rem;
    border-radius: 1rem;
    width: 40%;
    text-align: center;
    /* background-color: rgba(211, 211, 211, 0.334); */
}

.proteinFatDB,
.carbsFiberDB {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
}

.proteinDB,
.fatDB,
.carbsDB,
.fiberDB {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.1rem solid lightgray;
    padding: 0.8rem;
    border-radius: 1rem 0 0 0;
    background-color:aliceblue;
}

.proteinDB {
    border-right: none;
}

.fatDB {
    border-radius: 0 0 0 1rem;
    border-right: none;
}

.carbsDB {
    border-radius: 0 1rem 0 0;
    border-left: none;
}

.fiberDB {
    border-radius: 0 0 1rem 0;
    border-left: none;
}


a {
    text-decoration: none;
}

/* Dashboard page - Today's exercise part */
.exerciseDBP {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: aliceblue;
}

.exerciseHeadlineDBP {
    margin-bottom: 1rem;
}

.exerciseAndTime {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

#exerciseSelect {
    height: 1.5rem;
}

.exerciseTimeDBP {
    display: flex;
    align-items: center;
}

#exerciseTime {
    height: 1.5rem;
    width: 5rem;
    margin-left: 0.5rem;
}


.bottomBtns {
    display: flex;
    justify-content: space-between;
    position: sticky;
    position: -webkit-sticky;
    background-color: white;
    bottom: 0;
    padding : 1rem;
    /* border-top: 0.1rem solid lightgrey; */
    /* width: 90vw; */
    /* margin: 1rem 0; */
    /* z-index: 1; */
}

.bottomBtn {
    height: 1.5rem;
    margin: 0 1rem;
}

.metrics {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
}