* {
    margin:0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    align-items: flex-start;
    /* background-color: black; */
    /* color: white; */
}

.userInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 2rem;
}

.head,
.name,
.userGoal,
.userSex,
.userMetrics,
.userJob,
.userExercise,
.userGoalRange,
.userDiet {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    align-items: flex-start;
}

.userGoalRange {
    width: 100%;
}

h3 {
    color: rgb(9, 149, 200);
    font-weight: 600;
    margin-bottom: 0.2rem;
}

.userName,
.userEmail,
.userPassword {
    display: flex;
    flex-direction: column;
}

input[type=text],
input[type=email],
input[type=password] {
    width: 15rem;
    height: 1.5rem;
    border-radius: 0.3rem;
}

/* #goalRange {
} */

#submitBtn {
    margin: 1rem;
}

/* .weightLoss,
.weightManage,
.weightGain {
    display: flex;
    align-items: center;
    justify-content: space-between;
} */

